body, html {
  width: 99.5%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
h1{

	font-size: 3rem;
	color: #003f5a;
}

.btn{
	font-weight: 700;
	text-transform: uppercase;
	border-radius: 300px;
}

.btn-xl{
	padding: 1rem 2rem;
}

.btn-primary{
	background-color: #de6600;
	border-color: #de6600;
}
.btn-primary:hover {
	background-color: #C05A00;
	border-color: #C05A00;
	border-left-width: 3px;
	border-right-width: 3px;
	transition: 0s;
}
hr{
	border-color: #de6600;
	border-width: 3px;
	max-width: 65px;
}

.buffer {
	height: 2rem;
}
img {
	
	text-align: center;
	justify-content: center;
}